* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 58rem;
  width: 100vw;
  background: hsl(233, 47%, 7%);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}
.container {
  width: 90vw;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(244, 38%, 16%);
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 10px;
}
#image-background {
  height: 30%;
  width: 100%;
  background-image: url(images/image-header-mobile.jpg);
  background-size: cover;
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
  border-radius: 10px 10px 0 0;
  margin-bottom: 30px;
}
#text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 18em;
  font-size: 15px;
  text-align: center;
  color: white;
}
h1,
p {
  margin-bottom: 20px;
}
#text-section span {
  color: hsl(277, 64%, 61%);
}
#text-section p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 2em;
}
#footer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.para {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
}